[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
python-dotenv = "*"
apscheduler = "*"
requests = "*"
flask = "*"
PyNaCl = "*"
python-dateutil = "*"
beautifulsoup4 = "*"
PIL = "*"

[requires]
python_version = "3.*"
