[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord.py = "2.3.2"
python-dotenv = "*"
apscheduler = "*"
requests = "*"
flask = "*"
PyNaCl = "*"
python-dateutil = "*"
pillow = "*"
sqlalchemy = "*"
alembic = "*"
davey = "*"

[requires]
python_version = "3.*"
